
.calendarios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px; 
    font-weight: bold;
    color: black;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;  
}

.boton-buscar{
    border: none; 
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    width: 65px;
    height: 40px;
    cursor: pointer;

}
 #titulos {
    color: black;
    font-weight: bolder;
    font-size: 22px;
 }
   

input{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    width: 90px;
    height: 20px;
}
input:focus {
    background-color: #d8e9a8;
    transform: scale(1.05);
  }
#quantity{
    width: 50px;
    text-align: center;
    ;
}

 
.centrar-imagenes{
    position: absolute;
    margin-top: 30%;
}


.caja-imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
#imagenes-principales{
    width: 300px;
    height: 280px;
    gap: 10px;
    margin-top: 25px;    
    padding: 10px;
    border-radius: 0 70px 0 70px;
    
}

.titulos-fotos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav a{
text-decoration: none;
color: #070707;
padding: 5px;
background-color: #D8E9A8;
border-radius: 10px;
}
h3{
    font-size: 25px;
    font-weight: bold;
    color: #070707;
}

.descripciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    gap: 100px;
    font-size: 20px;
}


#paginaActual{
color: rgb(12, 12, 12);
font-size: 25px;
font-weight: bold;
padding: 10px;
border-radius: 15px;
margin: 0px 10px 0px 10px;
}



form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;




}

